<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vacantLand</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheetQues.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg py-0 navbar-dark bg-dark">
        <a class="navbar-brand m-0"><span style="color: white">FindMyLand</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02 ">
            <div class="navbar-nav mt-2 mt-lg-0">
                {{#ifNotEqual user.username 'admin1'}}
                    <div class="col-lg-12"></div>
                    <div class="col-lg-12"></div>
                    <div class="col-lg-4"></div>
                    <div class="nav-item col-lg-auto my-auto"  >
                        Welcome, {{user.username}}
                    </div>
                {{/ifNotEqual}}
                {{#ifEquals user.username 'admin1'}}
                    <div class="col-lg-12"></div>
                    <div class="col-lg-8"></div>
                    <div class="nav-item col-lg-auto my-auto" style="color: white" >
                        Welcome, {{user.username}}
                    </div>
                    <div class="nav-item mt-2 col-lg-auto mb-1">
                        <button class="btn btn-light mb-1" type="submit" onclick="location.href='/pages/addland'" style="color: black">Add Land</button>
                    </div>
                {{/ifEquals}}
                <div class="nav-item mt-2 col-lg-auto mb-1" style=" padding-left: 0px">
                    <button class="btn btn-light mb-1" type="submit" onclick="location.href='/users/signin'">Sign Out</button>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>


